In [1]:
import string
import pandas as pd
import numpy as np
import random
alp = []
 
for letter in string.ascii_uppercase:
    alp.append(letter)
print(alp)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [2]:
a={}
a = {'Name':alp[0:10],'Pencils':np.random.randint(15,20,10),'Books':np.random.randint(0,100,10)}

In [3]:
a

{'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
 'Pencils': array([15, 16, 18, 19, 19, 19, 19, 19, 15, 18]),
 'Books': array([55, 80, 90, 93, 34, 69, 89, 56, 89, 76])}

In [4]:
df = pd.DataFrame(a)
df

  Name  Pencils  Books
0    A       15     55
1    B       16     80
2    C       18     90
3    D       19     93
4    E       19     34
5    F       19     69
6    G       19     89
7    H       19     56
8    I       15     89
9    J       18     76

In [5]:
df1 = df.copy()

In [6]:
books_col = df['Books']
pencil_col = df['Pencils']
print(books_col.size)
missing_pct = int(books_col.size * 0.3)
missing_pct

10

3

In [7]:
i = [random.choice(range(books_col.shape[0])) for _ in range(missing_pct)]
j = [random.choice(range(pencil_col.shape[0])) for _ in range(missing_pct)]
books_col[i] = np.NaN
pencil_col[j] = np.NaN
print(books_col.shape[0])
print(i,j)

10
[6, 4, 5] [2, 7, 9]

c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
range(pencil_col.shape[0])

range(0, 10)

In [9]:
df

  Name  Pencils  Books
0    A     15.0   55.0
1    B     16.0   80.0
2    C      NaN   90.0
3    D     19.0   93.0
4    E     19.0    NaN
5    F     19.0    NaN
6    G     19.0    NaN
7    H      NaN   56.0
8    I     15.0   89.0
9    J      NaN   76.0

In [10]:
books_mv = df.iloc[:,[2]].values
pencils_mv = df.iloc[:,[1]].values

In [11]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer( strategy='mean') #for median imputation replace 'mean' with 'median'
imp_mean.fit(books_mv)
df['Books'] = imp_mean.transform(books_mv)
df

  Name  Pencils  Books
0    A     15.0   55.0
1    B     16.0   80.0
2    C      NaN   90.0
3    D     19.0   93.0
4    E     19.0   77.0
5    F     19.0   77.0
6    G     19.0   77.0
7    H      NaN   56.0
8    I     15.0   89.0
9    J      NaN   76.0

In [12]:
imp_mean = SimpleImputer( strategy='most_frequent')
imp_mean.fit(pencils_mv)
df['Pencils'] = imp_mean.transform(pencils_mv)
df

  Name  Pencils  Books
0    A     15.0   55.0
1    B     16.0   80.0
2    C     19.0   90.0
3    D     19.0   93.0
4    E     19.0   77.0
5    F     19.0   77.0
6    G     19.0   77.0
7    H     19.0   56.0
8    I     15.0   89.0
9    J     19.0   76.0