In [24]:
weather=['Sunny','Sunny','Overcast','Rainy','Rainy'
         ,'Rainy','Overcast','Sunny','Sunny',
'Rainy','Sunny','Overcast','Overcast','Rainy']

temp=['Hot','Hot','Hot','Mild','Cool','Cool',
      'Cool','Mild','Cool','Mild','Mild'
      ,'Mild','Hot','Mild']

play=['No','No','Yes','Yes','Yes','No','Yes','No',
      'Yes','Yes','Yes','Yes','Yes','No']

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame({'Weather' : weather , 'Temperature' : temp})

In [27]:
df

     Weather Temperature
0      Sunny         Hot
1      Sunny         Hot
2   Overcast         Hot
3      Rainy        Mild
4      Rainy        Cool
5      Rainy        Cool
6   Overcast        Cool
7      Sunny        Mild
8      Sunny        Cool
9      Rainy        Mild
10     Sunny        Mild
11  Overcast        Mild
12  Overcast         Hot
13     Rainy        Mild

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
enc = LabelEncoder()
#enc.fit(df.Weather)
#enc.fit(df.Temperature)
df.Weather= enc.fit_transform(df.Weather)
df.Temperature= enc.fit_transform(df.Temperature)
df

    Weather  Temperature
0         2            1
1         2            1
2         0            1
3         1            2
4         1            0
5         1            0
6         0            0
7         2            2
8         2            0
9         1            2
10        2            2
11        0            2
12        0            1
13        1            2

In [30]:
x = df.iloc[:,[0,1]].values

In [35]:
y = play

In [58]:
from sklearn.linear_model import LogisticRegression

logreg=LogisticRegression()

logreg.fit(x,y)

logreg.score(x,y)*100

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

71.42857142857143

In [59]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x,y)
dt.score(x,y)*100

78.57142857142857

In [60]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=3)
rf.fit(x,y)
rf.score(x,y)*100

78.57142857142857

In [57]:
a=logreg.predict([[1,2]])
b=dt.predict([[1,2]])
c=rf.predict([[1,2]])
print(a)
print(b)
print(c)

['Yes']
['No']
['Yes']